body {
  /* background-color: #093145; */
  background-color: grey;
  margin: 0px;
  padding: 0px;
}

h1,
h3,
h4 {
  color: #eee;
  font: monospace;
}

/* h3 {
    color: #eee;
} */


.app {
  height: 100%;
  justify-content: center;
  /* align-items: auto; */
  text-align: center;
  /* text-emphasis-color: #eee; */
  background-color: #eee;
  padding: 15px;
}

.layout {

  background: #eee;
  width: auto;
  height: auto;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  border-radius: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 10px 10px;
  align-self: start;
  /* align-content: auto; */

}

.button {
  position: relative;
  text-decoration: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: auto;
  width: auto;
  opacity: 10;
  background-color: blue; /* #093145 */
  /* border: 2px solid purple; */
}

.button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.button:hover {
  animation: rotate 0.7s ease-in-out both;
}

.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.webButton{
  padding: 10px;
  font-size: 15px;
  /* @media screen and (max-width: 750px) {
    font-size: 15px;
  } */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(4deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-4deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media only screen and (max-width: 1024px) {
  .layout {
    height: 30%;
    padding: 5%;
  }
}

.social-container {
  background: #eee;
  padding: 1px 1px;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

.resume-container {
  /* background: #eee; */
  /* padding: 1px 5px; */
  margin: 5px auto;
  text-align: left;
  align-content: center;
}

.registration-layout{
  /* width: 50%; */
  width: 100%;
}

.registration-container{
  align-content: center;
  width: 50%;
  align-self: center;
}

.sandbox-container{
  align-content: center;
  display: flex;
  padding: 10px;
}

@media only screen and (max-width: 725px) {
  .sandbox-container {
    flex-wrap: wrap;
  }
}

a.social {
  margin: 0 1rem;
  align-items: center;
  transition: transform 250ms;
  display: inline-block;
  color: white;
}

.social-heading {
  color: black;
}

a.twitter {
  color: #0056b3;
}

a.linkedin {
  color: #0056b3;
}

a.github {
  color: #0056b3;
}

a.medium {
  color: #0056b3;
}

a.mail {
  color: #0056b3;
}

a.social:hover {
  transform: translateY(-2px);
}

/* resuable span seperator to create artificial space */
span.separator {
  display: block;
  background: inherit;
  padding: 10px 0 0 0;
  border: none;
  margin: 9px 0 0 0;
  /* background-color: yellow; */
}

.title {
  color: black;
}

.navTitle{
  color: black;
  font-size: 20px;
  margin-right: 20px;
}

.flex-container{ /* generic flexbox parent*/
  display: flex;
}

div.flex-child { /* generic flexbox child*/
  flex-grow: 1;
}

form.regForm{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
}
div.regFormLayout{
  text-align: center;
}
label.regLabel{
  text-align: left;
}
.labelColumn{
  display: flex;
}

.inputColumn{
  display: flex;
}

button.btnCount{
  margin-right: 5px;
}

@media only screen and (max-width: 725px) {
  button.btnCount {
    margin-bottom: 10px;
  }
}

.count{
  width: 100%;
}


/* change later */
.messages{
  display: flex;
  justify-content: center;
}
 
.error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
 
.success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}